.header-box {
  text-align: center;
  font-size: 30px;
  color: #0D0D0D;
  text-transform: uppercase;
  &_bold {
    font-weight: 700;
    line-height: 30px;
  }
  &_left {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
  }
  &_thin {
    line-height: 30px;
    font-weight: 500;
  }
}