.products {
  padding: 0 0 79px 0;
  &__choice {
    display: flex;
    justify-content: center;
    margin: 55px 0 0 0;
  }
  &__choice-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 222px;
    height: 52px;
    border: 2px solid #D0D0D0;
    transform: skewX(-20deg);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      box-shadow: 3px 3px 15px $main-color;
    }
    div {
      transform: skewX(20deg);
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px;
      line-height: 18px;
      color: #6B6B6B;
    }
    &_active {
      background-color: $main-color;
      border: none;
      div {
        color: #FFFFFF;
      }
    }
  }
}